$secondary-color: #125688;
$box-border: #edeeee;

@import 'node_modules/materialize-css/sass/materialize.scss';

.loader {
    color: $secondary-color;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

body {
    background: #fafafa;
    color: $secondary-color;
    font-family: 'Montserrat', sans-serif;
}

.landing {
    margin: 30px auto;
}

.iphone {
    max-width: 100%;
}

.site-footer {
    text-transform: uppercase;
    font-size: 12px;
}

.login-box,
.signup-box {
    background-color: #fff;
    bottom: 1px solid $box-border;
    border-radius: 3px;
    padding: 10px 0;
    text-align: center;
}

.platzigram {
    font-family: 'Oleo Script', cursive;
    font-size: 42px;
    color: $secondary-color !important;
}

.signup-form {
    width: 65%;
    margin: 0 auto;
}

.signup-form h2 {
    color: #a5a7aa;
    font-size: 1.2em;
}

.signup-form .btn.btn-fb {
    background-color: #4090db;
    font-size: .8em;
}

.signup-form .btn.btn-fb:hover {
    background-color: #2d6599;
}

.signup-form .btn.btn-signup {
    background-color: $secondary-color;
}

.header {
    background-color: #fff;
    color: $secondary-color;
    box-shadow: none;
    border-color: 1px solid $box-border;
}

.timeline {
    padding: 30px 0;
}

$avatar-size: 48px;
.avatar {
    width: $avatar-size;
    height: $avatar-size;
    border: 3px solid $secondary-color;
    border-radius: 50%;
    float: left;
    margin-right: 12px;
}

.card small.time {
    line-height: $avatar-size;
}

.card p {
    padding: 20px 0;
}

.card .likes {
    line-height: 30px;
    margin-left: 12px;
}

.card .corazon {
    font-size: 30px;
}

.card .ho {
    color: $secondary-color;
}

.card .hf {
    color: red;
    display: none;
}

.card.liked {
    .hf {
        display: block;
    }
    .ho {
        display: none;
    }
}

.card .username {
    color: $secondary-color;
}

.form-upload {
    span,
    button {
        color: #fff;
    }
    .file-upload {
        position: relative;
        overflow: hidden;
        margin: 10px;
        input {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
    }
}

$avatar-info-size: 128px;
.container.user-data {
    margin-top: 30px;
}

$pool-img-size: 230px;
.user-data {
    .user-info {
        .info-avatar {
            width: $avatar-info-size;
            height: $avatar-info-size;
            border: 5px solid $secondary-color;
            border-radius: 50%;
            float: left;
            margin-right: 24px;
        }
        .username {
            font-size: 1.3em;
        }
    }
    .pool-images {
        .user-picture {
            border-radius: 4px;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
            float: left;
            height: $pool-img-size;
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 30px;
            width: $pool-img-size;
        }
    }
}